#全てのファイルを除外
/*
#全ての隠しファイルを除外
/*.

!/.bash_profile
!/.vimrc
!/.gvimrc
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.vim

#一時ファイル系と、git管理のプラグインを省く
/.vim/.DS_Store
/.vim/tmp
/.vim/bundle
/.vim/data

#各静的プラグインディレクトリのキャッシュファイルを取り除く
/.vim/colors/.DS_Store
/.vim/indent/.DS_Store
/.vim/plugin/.DS_Store
/.vim/snippets/.DS_Store
/.vim/syntax/.DS_Store
/.vim/template/.DS_Store
/.vim/vimfiles/.DS_Store
