#全てのファイルを除外
/*
#全ての隠しファイルを除外
/*.

!/.tmux.conf
!/.bash_profile
!/.zshrc
!/.bashrc
!/.vimshrc
!/.vimrc
!/.vimrc_sample
!/.gvimrc
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.peco
!/.brewfile
!/.vim
# !Brewfile

#一時ファイル系と、git管理のプラグインを省く
/.vim/.DS_Store
/.vim/tmp/*
/.vim/bundle/*
/.vim/data/*
/.vim/vim.d/office.vim


!/.vim/tmp/.gitkeep

#各静的プラグインディレクトリのキャッシュファイルを取り除く
*.DS_Store

